
body{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
    
}
.content{
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgb(124, 123, 123);
    min-width: 21rem; 
    height: 1200px;  
}
.boxes{
    display: flex;
    justify-content: space-between;
    padding: 1.35rem 2.5rem 1.35rem 3rem;
    align-items: center;
}
.users{
    display: flex;
    gap: 16px;
}

.maria{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.nuevo-chat{
    display: flex;
    justify-content: center;
    padding: 4rem 1rem;
    border-top: 2px solid rgb(151, 151, 151);
}
.boton-chat{
    background-color:#A491D2;
    color: aliceblue;
    border: none;
    width: 18.5rem;
    padding: 1.3rem 2.2rem;
}

.menu-first{
    list-style: none;
}
.contactos{
    flex: 1;
    position:relative;
    padding-left: 20px;
}
img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.lista{
    position: absolute;
    top: 0;
    right: 0px;
    height: 100%;
    width: 100%; 
    border-top: 2px solid var(--color-gray);
    
}
.chat{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:  50px;
    margin-bottom: 10px;
}
.perfiles-usuarios{
    display: flex;
    align-items:flex-end;
    padding: 0.5em 0.5rem;
    border-top: 2px solid rgb(151, 151, 151);
    justify-content:space-around;
    margin-top: 10px;
    
}
.foto-perfil{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.checkout{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-smoke);
    text-align: center;
    padding: 1em;
    border: solid 1px;
}
.handshake{
    width: 25%;
    max-width: fit-content;
    border-radius: 10px;
    margin-bottom: 2.5rem;
}

.titulo{
    font-size: 100px;
}

.name-usuario{
    font-family: sans-serif;
    font-size: medium;
    text-align: left;
    align-items:flex-start;
    margin-top: 10px;
}
.message-usuario{
    font-family: sans-serif;
    font-size: small;
    align-items:flex-center;
    text-align:left;
    
}
.celdas{
   flex-direction: column;
   padding-right: 3rem;
   gap: 5;
   margin-right: 0px;
}